url: https://about.rgbcolorwallpaper.tecdrop.com
title: About RGB Color Wallpaper

remote_theme: AurelitecSites/micrabout
repository: TecdropSites/about.rgbcolorwallpaper

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      show_title: true
      sized_quote: false